*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color: #FF499E;

}
.nav{
    
    color: white;
    background-color: #49B6FF;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

a{
    color: black;
    text-decoration: none;
    font-size: larger;
    transition:all 0.5s ease-in-out 0s;

}
a:hover{
    background-color: red;
    color: white;

}
.lo{
    height: 300px;
    width: 350px;
    background-color:#E5EBEA;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

     display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
    

input{
    width: 300px;
    font-size: larger;
    margin: 20px;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: larger;
    transition:all 0.5s ease-in-out 0s;
    
}
input:hover{
         background-color:black;
    color: white;
}
button{
    width: 300px;
    font-size: larger;
    margin: 20px;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: larger;
    transition:all 0.5s ease-in-out 0s;

}
button:hover{
     background-color:black;
    color: white;
}